<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--
      Set LOCDS_CONNECTION_STRING as an environment variable and pass it to MSBuild publish as:
      /p:LOCDS_CONNECTION_STRING=%LOCDS_CONNECTION_STRING%
    -->
    <add
      name="LOCDSConnection"
      connectionString="$(LOCDS_CONNECTION_STRING)"
      xdt:Transform="SetAttributes(connectionString)"
      xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
  </system.web>
</configuration>